# Instalações Iniciais

---

Pyspark

---

In [ ]:
!pip install Pyspark

Requirement already satisfied: Pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from Pyspark) (0.10.9.3)

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *

GCP

---

In [ ]:
!pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.7/dist-packages (2022.3.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: fsspec==2022.3.0 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2022.3.0)
Requirement already satisfied: aiohttp<4 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (3.8.1)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.7.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (1.3.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (6.0.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (0.13.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.0.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.0)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)

In [ ]:
from google.colab import drive 
from google.cloud import storage
import os

Pandas

---

In [ ]:
!pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.0)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [ ]:
import pandas as pd
import pandera as pa
import numpy as np
import re
# re -> para usar a flag 'ignorecase'

#Pandas

---

Buscando Csv Tratado na GCP

---

In [ ]:
df_pandas = pd.read_csv('https://storage.googleapis.com/projeto-final/Data_Frame_tratado_Stack/projFinalStack.csv', sep =',')

In [ ]:
pd.set_option('max_columns', None)

In [ ]:
df_pandas

,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,DefFis,TipoDev,Genero,Etnia
0,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,nao,outro,Homem,branco
1,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7.0,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,nao,NaN,Homem,branco
2,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,nao,NaN,Homem,prefere nao dizer
3,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,sim,frontend,Homem,branco
4,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17.0,10.0,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,nao,cientista de dados,Homem,branco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,graduacao completa,6.0,5.0,Clojure;Kotlin;SQL,Oracle;SQLite,AWS,NaN,NaN,Docker;Git,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83435,83436,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Benim,graduacao completa,4.0,2.0,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Flutter;Qt,Git;Unity 3D;Unreal Engine,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco
83436,83437,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,ensino medio,10.0,4.0,Groovy;Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,AWS;Google Cloud Platform,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Ansible;Docker;Git;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows,25-34 anos de idade,nao,cientista de dados,Homem,branco
83437,83438,desenvolvedor profissional,empregado tempo integral,Canada,graduacao completa,5.0,3.0,Bash/Shell;JavaScript;Node.js;Python,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,Heroku,Django;Express;Flask;React.js,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,PyCharm;Sublime Text,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83438,83439,desenvolvedor profissional,empregado tempo integral,Brasil,profissionalizante,14.0,4.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,Oracle;PostgreSQL,Microsoft Azure,Angular;Spring,NaN,Docker;Git,IntelliJ;Visual Studio Code,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco

In [ ]:
#backup do dataframe original
df = df_pandas.copy()

In [ ]:
df

,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,DefFis,TipoDev,Genero,Etnia
0,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,nao,outro,Homem,branco
1,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7.0,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,nao,NaN,Homem,branco
2,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,nao,NaN,Homem,prefere nao dizer
3,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,sim,frontend,Homem,branco
4,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17.0,10.0,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,nao,cientista de dados,Homem,branco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,graduacao completa,6.0,5.0,Clojure;Kotlin;SQL,Oracle;SQLite,AWS,NaN,NaN,Docker;Git,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83435,83436,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Benim,graduacao completa,4.0,2.0,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Flutter;Qt,Git;Unity 3D;Unreal Engine,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco
83436,83437,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,ensino medio,10.0,4.0,Groovy;Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,AWS;Google Cloud Platform,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Ansible;Docker;Git;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows,25-34 anos de idade,nao,cientista de dados,Homem,branco
83437,83438,desenvolvedor profissional,empregado tempo integral,Canada,graduacao completa,5.0,3.0,Bash/Shell;JavaScript;Node.js;Python,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,Heroku,Django;Express;Flask;React.js,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,PyCharm;Sublime Text,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83438,83439,desenvolvedor profissional,empregado tempo integral,Brasil,profissionalizante,14.0,4.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,Oracle;PostgreSQL,Microsoft Azure,Angular;Spring,NaN,Docker;Git,IntelliJ;Visual Studio Code,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco

In [ ]:
#tipo d elementos no DataFrame
df.dtypes

Id                int64
AreaAtuacao      object
Emprego          object
Pais             object
Escolaridade     object
AnosProg        float64
AnosProgProf    float64
LingJaTrab       object
BDJaTrab         object
CloudJaTrab      object
EstWebJaTrab     object
OutrasJaTrab     object
FerramJaTrab     object
AmbDevJaTrab     object
SO               object
Idade            object
DefFis           object
TipoDev          object
Genero           object
Etnia            object
dtype: object

 substituir os valores NaN nas colunas AnosProg e AnosProgProf para melhor análise no pyspark

---

In [ ]:
df

,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,DefFis,TipoDev,Genero,Etnia
0,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,nao,outro,Homem,branco
1,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7.0,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,nao,NaN,Homem,branco
2,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,nao,NaN,Homem,prefere nao dizer
3,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,sim,frontend,Homem,branco
4,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17.0,10.0,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,nao,cientista de dados,Homem,branco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,graduacao completa,6.0,5.0,Clojure;Kotlin;SQL,Oracle;SQLite,AWS,NaN,NaN,Docker;Git,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83435,83436,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Benim,graduacao completa,4.0,2.0,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Flutter;Qt,Git;Unity 3D;Unreal Engine,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco
83436,83437,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,ensino medio,10.0,4.0,Groovy;Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,AWS;Google Cloud Platform,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Ansible;Docker;Git;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows,25-34 anos de idade,nao,cientista de dados,Homem,branco
83437,83438,desenvolvedor profissional,empregado tempo integral,Canada,graduacao completa,5.0,3.0,Bash/Shell;JavaScript;Node.js;Python,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,Heroku,Django;Express;Flask;React.js,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,PyCharm;Sublime Text,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83438,83439,desenvolvedor profissional,empregado tempo integral,Brasil,profissionalizante,14.0,4.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,Oracle;PostgreSQL,Microsoft Azure,Angular;Spring,NaN,Docker;Git,IntelliJ;Visual Studio Code,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco

In [ ]:
df['AnosProg'] = df['AnosProg'].fillna(0)

In [ ]:
df['AnosProgProf'] = df['AnosProgProf'].fillna(0)

# Operações usando PySpark 

---


---

Dados inconsistentes foram tratados e colunas foram retiradas no Pandas. No Pyspark e sparkSql será feita algumas análises.

---

* Lendo arquivos CSV com esquema personalizado através do DataFrame Pandas já tratado

In [ ]:
spark = (
    SparkSession.builder
                .master('local')
                .appName('projeto_final')
                .config('spark.ui.port',  '4050')
                .getOrCreate()
)

In [ ]:
schema = ( StructType ([
           
    StructField('Id', IntegerType()),                 
    StructField('AreaAtuacao', StringType(), True),        
    StructField('Emprego', StringType(), True),               
    StructField('Pais', StringType(), True),             
    StructField('Escolaridade', StringType(), True),    
    StructField('AnosProg', FloatType(), True),
    StructField('AnosProgProf', FloatType(), True),    
    StructField('LingJaTrab', StringType(), True),   
    StructField('BDJaTrab', StringType(), True),    
    StructField('CloudJaTrab', StringType(), True),    
    StructField('EstWebJaTrab', StringType(), True),    
    StructField('OutrasJaTrab', StringType(), True),    
    StructField('FerramJaTrab', StringType(), True),   
    StructField('AmbDevJaTrab', StringType(), True),    
    StructField('SO', StringType(), True),    
    StructField('Idade', StringType(), True),    
    StructField('DefFis', StringType(), True),
    StructField('TipoDev', StringType(), True),
    StructField('Genero', StringType(), True),   
    StructField('Etnia', StringType(), True)    
            
  ])
)

* criando o DataFrame a partir do DataFrame Pandas

In [ ]:
df_spark = spark.createDataFrame(df, schema=schema)

* Estrutura do dataframe

In [ ]:
df_spark.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- AreaAtuacao: string (nullable = true)
 |-- Emprego: string (nullable = true)
 |-- Pais: string (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- AnosProg: float (nullable = true)
 |-- AnosProgProf: float (nullable = true)
 |-- LingJaTrab: string (nullable = true)
 |-- BDJaTrab: string (nullable = true)
 |-- CloudJaTrab: string (nullable = true)
 |-- EstWebJaTrab: string (nullable = true)
 |-- OutrasJaTrab: string (nullable = true)
 |-- FerramJaTrab: string (nullable = true)
 |-- AmbDevJaTrab: string (nullable = true)
 |-- SO: string (nullable = true)
 |-- Idade: string (nullable = true)
 |-- DefFis: string (nullable = true)
 |-- TipoDev: string (nullable = true)
 |-- Genero: string (nullable = true)
 |-- Etnia: string (nullable = true)

* DataFrame

In [ ]:
df_spark.show(5)

+---+--------------------+--------------------+---------------+------------------+--------+------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+-----------+-------------------+------+------------------+------+-----------------+
| Id|         AreaAtuacao|             Emprego|           Pais|      Escolaridade|AnosProg|AnosProgProf|          LingJaTrab|            BDJaTrab|CloudJaTrab|        EstWebJaTrab|        OutrasJaTrab|        FerramJaTrab|        AmbDevJaTrab|         SO|              Idade|DefFis|           TipoDev|Genero|            Etnia|
+---+--------------------+--------------------+---------------+------------------+--------+------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+-----------+-------------------+------+------------------+------+-----------------+
|  1|desenvolvedor pro...|contrato independ...|     Eslovaquia|      ensino medio|     0.0|         0.0|C++;HTML/CSS;Java...|   PostgreSQL;SQLite|        NaN|     Laravel;Symfony|                 NaN|                 NaN|      PHPStorm;Xcode|      MacOS|25-34 anos de idade|   nao|             outro| Homem|           branco|
|  2|estudante aprende...|estudante tempo i...|        Holanda|graduacao completa|     7.0|         0.0|   JavaScript;Python|          PostgreSQL|        NaN|Angular;Flask;Vue.js|             Cordova|     Docker;Git;Yarn|Android Studio;In...|    Windows|18-24 anos de idade|   nao|               NaN| Homem|           branco|
|  3|nao sou desenvolv...|estudante tempo i...|Federacao Russa|graduacao completa|     0.0|         0.0|Assembly;C;Python...|              SQLite|     Heroku|               Flask|NumPy;Pandas;Tens...|                 NaN|IPython/Jupyter;P...|      MacOS|18-24 anos de idade|   nao|               NaN| Homem|prefere nao dizer|
|  4|desenvolvedor pro...|empregado tempo i...|        Austria|          mestrado|     0.0|         0.0|JavaScript;TypeSc...|                 NaN|        NaN|      Angular;jQuery|                 NaN|                 NaN|                 NaN|    Windows|35-44 anos de idade|   sim|          frontend| Homem|           branco|
|  5|desenvolvedor pro...|contrato independ...|    Reino Unido|          mestrado|    17.0|        10.0|Bash/Shell;HTML/C...|Elasticsearch;Pos...|        NaN|               Flask|Apache Spark;Hado...|Docker;Git;Kubern...|Atom;IPython/Jupy...|Linux-based|25-34 anos de idade|   nao|cientista de dados| Homem|           branco|
+---+--------------------+--------------------+---------------+------------------+--------+------------+--------------------+--------------------+-----------+--------------------+--------------------+--------------------+--------------------+-----------+-------------------+------+------------------+------+-----------------+
only showing top 5 rows

* identificação de valores nulos

In [ ]:
df_spark.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+-----------+-------+----+------------+--------+------------+----------+--------+-----------+------------+------------+------------+------------+---+-----+------+-------+------+-----+
| Id|AreaAtuacao|Emprego|Pais|Escolaridade|AnosProg|AnosProgProf|LingJaTrab|BDJaTrab|CloudJaTrab|EstWebJaTrab|OutrasJaTrab|FerramJaTrab|AmbDevJaTrab| SO|Idade|DefFis|TipoDev|Genero|Etnia|
+---+-----------+-------+----+------------+--------+------------+----------+--------+-----------+------------+------------+------------+------------+---+-----+------+-------+------+-----+
|  0|          0|      0|   0|           0|       0|           0|         0|       0|          0|           0|           0|           0|           0|  0|    0|     0|      0|     0|    0|
+---+-----------+-------+----+------------+--------+------------+----------+--------+-----------+------------+------------+------------+------------+---+-----+------+-------+------+-----+

#Analises

## Spark e SparkSQL

---

* Quantidade por área de atuação

In [ ]:
df_AreaAtuacao = df_spark.groupBy('AreaAtuacao').count()
df_AreaAtuacao.show()

+--------------------+-----+
|         AreaAtuacao|count|
+--------------------+-----+
|desenvolvedor pro...|58153|
|fui desenvolvedor...| 1237|
|nao sou desenvolv...| 6578|
|estudante aprende...|12029|
|  nenhuma das opcoes|  513|
|  programo por hobby| 4929|
+--------------------+-----+

* Quantidade por tipo de emprego

In [ ]:
df_Emprego = df_spark.groupBy('Emprego').count()
df_Emprego.show()

+--------------------+-----+
|             Emprego|count|
+--------------------+-----+
|prefiro não respo...|  890|
|          aposentado|  326|
|estudante tempo i...|11781|
|empregado tempo i...|53584|
|desempregado, pro...| 2961|
|empregado tempo p...| 2461|
|desempregado, não...| 1228|
|                 NaN|  116|
|estudante tempo p...| 2051|
|contrato independ...| 8041|
+--------------------+-----+

* Quantidade por Escolaridade

In [ ]:
df_Escolaridade = df_spark.groupBy('Escolaridade').count()
df_Escolaridade.show()

+--------------------+-----+
|        Escolaridade|count|
+--------------------+-----+
|  graduacao completa|35357|
|           doutorado| 2567|
|  profissionalizante| 1256|
|            mestrado|17512|
|  ensino fundamental| 2479|
|           tecnologo| 2231|
|                 NaN|  313|
|        ensino medio| 9534|
|              outros| 1601|
|graduacao incompleta|10589|
+--------------------+-----+

* Quantidade por Etnia

In [ ]:
df_Etnia = df_spark.groupBy('Etnia').count()
df_Etnia.show()

+-----------------+-----+
|            Etnia|count|
+-----------------+-----+
|       nao branco|27554|
|         nao sabe| 2414|
|           branco|46434|
|              NaN| 3975|
|prefere nao dizer| 3062|
+-----------------+-----+

* mostra o pais Brasil juntamente com tipo de emprego e escolaridade

In [ ]:
df_ee = df_spark.select(F.col('Pais'), F.col('Emprego'), F.col('Escolaridade')).filter(F.col('Pais') == 'Brasil')
df_ee.show()

+------+--------------------+--------------------+
|  Pais|             Emprego|        Escolaridade|
+------+--------------------+--------------------+
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|empregado tempo i...|graduacao incompleta|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|                 NaN|        ensino medio|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|contrato independ...|            mestrado|
|Brasil|empregado tempo i...|  profissionalizante|
|Brasil|desempregado, não...|  graduacao completa|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|contrato independ...|graduacao incompleta|
|Brasil|contrato independ...|  graduacao completa|
|Brasil|contrato independ...|            mestrado|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|empregado tempo i...|graduacao incompleta|
|Brasil|contrato independ...|  profissionalizante|
|Brasil|empregado tempo i...|  graduacao completa|
|Brasil|empregado tempo p...|  ensino fundamental|
|Brasil|empregado tempo i...|  graduacao completa|
+------+--------------------+--------------------+
only showing top 20 rows

* mostra o pais Brasil juntamento com tipo de emprego e escolaridade, Anos Programando e Anos programando profissionalmente

In [ ]:
df_peaa = df_spark.select(F.col('Pais'), F.col('Emprego'), F.col('AnosProg'), F.col('AnosProgProf')).filter(F.col('Pais') == 'Brasil')
df_peaa.show()

+------+--------------------+--------+------------+
|  Pais|             Emprego|AnosProg|AnosProgProf|
+------+--------------------+--------+------------+
|Brasil|empregado tempo i...|    12.0|         9.0|
|Brasil|empregado tempo i...|    22.0|        15.0|
|Brasil|empregado tempo i...|    12.0|        12.0|
|Brasil|empregado tempo i...|    10.0|        15.0|
|Brasil|empregado tempo i...|    16.0|        12.0|
|Brasil|                 NaN|     2.0|         0.0|
|Brasil|empregado tempo i...|     5.0|         4.0|
|Brasil|contrato independ...|     9.0|         7.0|
|Brasil|empregado tempo i...|     4.0|         4.0|
|Brasil|desempregado, não...|    15.0|         0.0|
|Brasil|empregado tempo i...|     8.0|         3.0|
|Brasil|contrato independ...|    18.0|        14.0|
|Brasil|contrato independ...|     6.0|         4.0|
|Brasil|contrato independ...|    14.0|         4.0|
|Brasil|empregado tempo i...|     6.0|         4.0|
|Brasil|empregado tempo i...|    18.0|        15.0|
|Brasil|contrato independ...|     7.0|         0.0|
|Brasil|empregado tempo i...|    20.0|        24.0|
|Brasil|empregado tempo p...|    30.0|         0.0|
|Brasil|empregado tempo i...|     0.0|         0.0|
+------+--------------------+--------+------------+
only showing top 20 rows

## Spark Sql

* Tabela a partir do DataFrame spark

In [ ]:
df_spark.createOrReplaceTempView('tabela_projeto_final')
spark.sql('select * from tabela_projeto_final')

DataFrame[Id: int, AreaAtuacao: string, Emprego: string, Pais: string, Escolaridade: string, AnosProg: float, AnosProgProf: float, LingJaTrab: string, BDJaTrab: string, CloudJaTrab: string, EstWebJaTrab: string, OutrasJaTrab: string, FerramJaTrab: string, AmbDevJaTrab: string, SO: string, Idade: string, DefFis: string, TipoDev: string, Genero: string, Etnia: string]

* Profissionais com mais de 25 anos Programando no Brasil

In [ ]:
spark.sql('SELECT * FROM tabela_projeto_final WHERE AnosProg > 25 and Pais == "Brasil"').show()

+-----+--------------------+--------------------+------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+------+------------------+------+----------+
|   Id|         AreaAtuacao|             Emprego|  Pais|        Escolaridade|AnosProg|AnosProgProf|          LingJaTrab|            BDJaTrab|         CloudJaTrab|        EstWebJaTrab|        OutrasJaTrab|        FerramJaTrab|        AmbDevJaTrab|                  SO|              Idade|DefFis|           TipoDev|Genero|     Etnia|
+-----+--------------------+--------------------+------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+------+------------------+------+----------+
|  984|  programo por hobby|empregado tempo p...|Brasil|  ensino fundamental|    30.0|         0.0|                 NaN|    MySQL;PostgreSQL|                 NaN|                 NaN|      .NET Framework|                 Git|Notepad++;RStudio...|             Windows|45-54 anos de idade|   nao|             outro| Homem|    branco|
| 3014|desenvolvedor pro...|empregado tempo i...|Brasil|            mestrado|    29.0|        20.0|Bash/Shell;C;HTML...|MySQL;Oracle;Post...|                 AWS|      Angular;jQuery|                 NaN|          Docker;Git|Atom;Eclipse;Emac...|         Linux-based|35-44 anos de idade|   nao|         fullstack| Homem|nao branco|
| 4560|nao sou desenvolv...|empregado tempo i...|Brasil|  graduacao completa|    32.0|        18.0|Bash/Shell;C;HTML...|DynamoDB;Elastics...|AWS;DigitalOcean;...|                 NaN|        NumPy;Pandas|      Git;Kubernetes|IPython/Jupyter;N...|         Linux-based|35-44 anos de idade|   nao|cientista de dados| Homem|    branco|
| 5748|nao sou desenvolv...|contrato independ...|Brasil|graduacao incompleta|    30.0|        20.0|Bash/Shell;HTML/C...|Elasticsearch;Mar...|AWS;DigitalOcean;...|        Django;Flask|        NumPy;Pandas|Ansible;Docker;Gi...|IPython/Jupyter;P...|         Linux-based|35-44 anos de idade|   nao|             outro| Homem|nao branco|
| 6825|desenvolvedor pro...|empregado tempo i...|Brasil|        ensino medio|    30.0|        25.0|Bash/Shell;C;HTML...|MySQL;PostgreSQL;...|AWS;DigitalOcean;...|jQuery;Laravel;Ru...|                 NaN|            Git;Yarn|Android Studio;Ne...|         Linux-based|45-54 anos de idade|   nao|cientista de dados| Homem|nao branco|
| 7284|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    28.0|        20.0|Delphi;Java;Ruby;...|              Oracle|                 NaN|                 NaN|                 NaN|          Docker;Git|NetBeans;Visual S...|             Windows|35-44 anos de idade|   nao|cientista de dados| Homem|    branco|
| 7336|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    40.0|        31.0|C;Go;JavaScript;N...|  MongoDB;PostgreSQL|AWS;Google Cloud ...|                 NaN|                 NaN|                 Git|   Vim;Visual Studio|         Linux-based|45-54 anos de idade|   nao|cientista de dados| Homem|    branco|
| 7644|desenvolvedor pro...|contrato independ...|Brasil|  graduacao completa|    37.0|        37.0|                  C#|      MariaDB;SQLite|                 NaN|       ASP.NET Core |  .NET Core / .NET 5|                 Git|       Visual Studio|             Windows|45-54 anos de idade|   NaN|         fullstack| Homem|    branco|
| 8027|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    26.0|        24.0|Bash/Shell;Python...|          PostgreSQL|                 NaN|               Flask|Apache Spark;Hado...|            Git;Yarn|IPython/Jupyter;N...|         Linux-based|35-44 anos de idade|   nao|cientista de dados| Homem|    branco|
| 9056|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    33.0|        26.0|Bash/Shell;Go;HTM...|Microsoft SQL Ser...|    AWS;DigitalOcean|        Flask;jQuery|                 NaN|  Ansible;Docker;Git|Neovim;Vim;Visual...|         Linux-based|35-44 anos de idade|   nao|cientista de dados| Homem|    branco|
| 9250|desenvolvedor pro...|empregado tempo i...|Brasil|           tecnologo|    38.0|        28.0|C#;HTML/CSS;JavaS...|MariaDB;Microsoft...|                 AWS|Angular;ASP.NET;j...|.NET Framework;.N...|          Docker;Git|IPython/Jupyter;N...|Windows Subsystem...|45-54 anos de idade|   nao|cientista de dados| Homem|    branco|
| 9600|desenvolvedor pro...|empregado tempo i...|Brasil|           tecnologo|    26.0|        23.0|C#;HTML/CSS;JavaS...|Microsoft SQL Server|                 NaN|Angular;ASP.NET;A...|.NET Framework;.N...|                 Git|Notepad++;Visual ...|             Windows|35-44 anos de idade|   nao|         fullstack| Homem|       NaN|
| 9968|desenvolvedor pro...|desempregado, pro...|Brasil|           tecnologo|    31.0|         0.0|Bash/Shell;HTML/C...|Firebase;MySQL;SQ...|IBM Cloud or Wats...|Express;Flask;Rea...|.NET Core / .NET ...|     Docker;Git;Yarn|Android Studio;In...|         Linux-based|45-54 anos de idade|   nao|         fullstack| Homem|    branco|
|10638|desenvolvedor pro...|contrato independ...|Brasil|graduacao incompleta|    35.0|        30.0|Bash/Shell;C#;COB...|Cassandra;DynamoD...|AWS;DigitalOcean;...|Angular;Angular.j...|.NET Framework;Fl...|Ansible;Chef;Dock...|Android Studio;At...|               MacOS|35-44 anos de idade|outros|cientista de dados| Homem|    branco|
|15168|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    27.0|        12.0|                Java|                 NaN|                 NaN|                 NaN|                 NaN|                 NaN|             Eclipse|             Windows|35-44 anos de idade|   nao|             outro| Homem|    branco|
|15436|  nenhuma das opcoes|empregado tempo i...|Brasil|           doutorado|    40.0|        35.0|Assembly;Bash/She...|                 NaN|                 NaN|                 NaN|                 NaN|                 Git|                 Vim|               MacOS|55-64 anos de idade|   nao|             outro| Homem|    branco|
|15457|desenvolvedor pro...|empregado tempo i...|Brasil|  graduacao completa|    28.0|        20.0|            C;C#;C++|             IBM DB2|                 NaN|                 NaN|.NET Framework;.N...|                 NaN|Notepad++;Visual ...|             Windows|55-64 anos de idade|   nao|           backend| Homem|    branco|
|15485|  programo por hobby|empregado tempo i...|Brasil|graduacao incompleta|    27.0|         0.0|              Delphi|                 NaN|     Microsoft Azure|                 NaN|                 NaN|                 Git|                 NaN|             Windows|35-44 anos de idade|   nao|         fullstack| Homem|    branco|
|15622|fui desenvolvedor...|empregado tempo i...|Brasil|            mestrado|    35.0|        30.0| C;C#;Java;Swift;VBA|Microsoft SQL Server| IBM Cloud or Watson|             ASP.NET|      .NET Framework|  Docker;Git;Xamarin|Android Studio;Vi...|             Windows|55-64 anos de idade|   nao|             outro| Homem|nao branco|
|16333|desenvolvedor pro...|empregado tempo i...|Brasil|  profissionalizante|    32.0|        28.0|Delphi;HTML/CSS;J...|       Oracle;SQLite|                 AWS|              jQuery|                 NaN|                 NaN|Notepad++;Sublime...|             Windows|45-54 anos de idade|   nao|cientista de dados| Homem|nao branco|
+-----+--------------------+--------------------+------+--------------------+--------+------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+-------------------+------+------------------+------+----------+
only showing top 20 rows

* Quantidade de registros de proficionais com escolaridade profissionalizante

In [ ]:
spark.sql('SELECT COUNT(*) FROM tabela_projeto_final WHERE  Escolaridade == "profissionalizante"').show()

+--------+
|count(1)|
+--------+
|    1256|
+--------+

* Quantidade de profissionais que programa no brasil com mais de 25 anos de atuação

In [ ]:
spark.sql('SELECT COUNT(*) FROM tabela_projeto_final WHERE AnosProg > 25 and Pais == "Brasil"').show()

+--------+
|count(1)|
+--------+
|     133|
+--------+

* Quantidade a nivel mundo por escolaridade

In [ ]:
spark.sql('SELECT Escolaridade, COUNT(Escolaridade) AS Quantidade_total FROM tabela_projeto_final GROUP BY Escolaridade').show()

+--------------------+----------------+
|        Escolaridade|Quantidade_total|
+--------------------+----------------+
|  graduacao completa|           35357|
|           doutorado|            2567|
|  profissionalizante|            1256|
|            mestrado|           17512|
|  ensino fundamental|            2479|
|           tecnologo|            2231|
|                 NaN|             313|
|        ensino medio|            9534|
|              outros|            1601|
|graduacao incompleta|           10589|
+--------------------+----------------+

* Quantidade a nivel mundo por tipo de emprego

In [ ]:
spark.sql('SELECT  Emprego, COUNT(Emprego) AS Quantidade_total FROM tabela_projeto_final GROUP BY  Emprego').show()

+--------------------+----------------+
|             Emprego|Quantidade_total|
+--------------------+----------------+
|prefiro não respo...|             890|
|          aposentado|             326|
|estudante tempo i...|           11781|
|empregado tempo i...|           53584|
|desempregado, pro...|            2961|
|empregado tempo p...|            2461|
|desempregado, não...|            1228|
|                 NaN|             116|
|estudante tempo p...|            2051|
|contrato independ...|            8041|
+--------------------+----------------+