# Instalações Iniciais

---

In [ ]:
pip install pandera

Requirement already satisfied: pandera in /usr/local/lib/python3.7/dist-packages (0.9.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (3.10.0.2)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.0)
Requirement already satisfied: typing-inspect>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (0.7.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from typing-inspect>=0.6.0->pandera) (0.4.3)

In [ ]:
import pandas as pd
import pandera as pa
import re

#re -> para usar a flag 'ignorecase'

Buckt - projeto-final

In [ ]:
df = pd.read_csv('https://storage.googleapis.com/projeto-final/Data_Set_original_Stack/survey_results_public.csv', sep = ',')

In [ ]:
pd.set_option('max_columns', None)

In [ ]:
df.head(3)

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN

In [ ]:
df.dtypes

ResponseId                        int64
MainBranch                       object
Employment                       object
Country                          object
US_State                         object
UK_Country                       object
EdLevel                          object
Age1stCode                       object
LearnCode                        object
YearsCode                        object
YearsCodePro                     object
DevType                          object
OrgSize                          object
Currency                         object
CompTotal                       float64
CompFreq                         object
LanguageHaveWorkedWith           object
LanguageWantToWorkWith           object
DatabaseHaveWorkedWith           object
DatabaseWantToWorkWith           object
PlatformHaveWorkedWith           object
PlatformWantToWorkWith           object
WebframeHaveWorkedWith           object
WebframeWantToWorkWith           object
MiscTechHaveWorkedWith           object
MiscTechWantToWorkWith           object
ToolsTechHaveWorkedWith          object
ToolsTechWantToWorkWith          object
NEWCollabToolsHaveWorkedWith     object
NEWCollabToolsWantToWorkWith     object
OpSys                            object
NEWStuck                         object
NEWSOSites                       object
SOVisitFreq                      object
SOAccount                        object
SOPartFreq                       object
SOComm                           object
NEWOtherComms                    object
Age                              object
Gender                           object
Trans                            object
Sexuality                        object
Ethnicity                        object
Accessibility                    object
MentalHealth                     object
SurveyLength                     object
SurveyEase                       object
ConvertedCompYearly             float64
dtype: object

#Dropando colunas

---
Dropando colunas que não vão inferir nas análises.

In [ ]:
df.drop(['US_State',
                     'UK_Country',
                     'Age1stCode',
                     'LearnCode',
                     'NEWStuck',
                     'NEWSOSites',
                     'SOVisitFreq',
                     'SOAccount',
                     'SOPartFreq',
                     'SOComm',
                     'NEWOtherComms',
                     'MentalHealth',
                     'SurveyLength',  
                     'SurveyEase',
                     'OrgSize',
                     'Currency',
                     'CompTotal',
                     'CompFreq',
                     'Trans',
                     'Sexuality',
                     'ConvertedCompYearly',
                     'LanguageWantToWorkWith',
                     'DatabaseWantToWorkWith',
                     'PlatformWantToWorkWith',
                     'WebframeWantToWorkWith',
                     'MiscTechWantToWorkWith',
                     'ToolsTechWantToWorkWith',
                     'NEWCollabToolsWantToWorkWith'],axis=1,inplace=True)

#Renomeando colunas

---
Renomeação e Tradução das colunas

In [ ]:
df.rename(columns={'ResponseId':'Id','MainBranch':'AreaAtuacao','Employment':'Emprego','Country':'Pais','EdLevel':'Escolaridade'}, inplace=True)

In [ ]:
df.rename(columns={'YearsCode':'AnosProg','YearsCodePro':'AnosProgProf','DevType':'TipoDev'}, inplace=True)

In [ ]:
df.rename(columns={'LanguageHaveWorkedWith':'LingJaTrab'}, inplace=True)

In [ ]:
df.rename(columns={'DatabaseHaveWorkedWith':'BDJaTrab','PlatformHaveWorkedWith':'CloudJaTrab','WebframeHaveWorkedWith':'EstWebJaTrab'}, inplace=True)

In [ ]:
df.rename(columns={'MiscTechHaveWorkedWith':'OutrasJaTrab','ToolsTechHaveWorkedWith':'FerramJaTrab'}, inplace=True)

In [ ]:
df.rename(columns={'NEWCollabToolsHaveWorkedWith':'AmbDevJaTrab','OpSys':'SO','Age':'Idade'}, inplace=True)

In [ ]:
df.rename(columns={'Gender':'Genero','Ethnicity':'Etnia','Accessibility':'DefFis'}, inplace=True)

#Renomeando dados colunas 1 a 6

AreaAtuacao,	Emprego	Pais,	Escolaridade,	AnosProg,	AnosProgProf

In [ ]:
(df['AreaAtuacao'].replace(['I am a developer by profession',
                        'I am a student who is learning to code', 
                        'I am not primarily a developer, but I write code sometimes as part of my work', 
                        'I code primarily as a hobby', 
                        'I used to be a developer by profession, but no longer am', 
                        'None of these'], 
                       ['desenvolvedor profissional', 
                        'estudante aprendendo a programar', 
                        'nao sou desenvolvedor mas as vezes programo como parte do meu trabalho', 
                        'programo por hobby', 
                        'fui desenvolvedor profissional mas não sou mais', 
                        'nenhuma das opcoes'], inplace=True))

In [ ]:
(df['Emprego'].replace(['Employed full-time',
                        'Employed part-time', 
                        'Independent contractor, freelancer, or self-employed', 
                        'Not employed, but looking for work', 
                        'Not employed, and not looking for work', 
                        'Student, full-time', 
                        'Student, part-time', 
                        'Retired',
                        'I prefer not to say'], 
                       ['empregado tempo integral', 
                        'empregado tempo parcial', 
                        'contrato independente, freelancer ou autonomo', 
                        'desempregado, procurando emprego', 
                        'desempregado, não procurando emprego', 
                        'estudante tempo integral', 
                        'estudante tempo parcial', 
                        'aposentado',
                        'prefiro não responder'], inplace=True))

In [ ]:
(df['Pais'].replace(['Afghanistan',
                        'Algeria', 
                        'Azerbaijan', 
                        'Bahrain', 
                        'Belarus', 
                        'Belgium', 
                        'Benin', 
                        'Bhutan', 
                        'Bosnia and Herzegovina',
                        'Botswana',
                        'Brazil'], 
                       ['Afeganistao', 
                        'Argelia', 
                        'Azerbaijao', 
                        'Bahrein', 
                        'Bielorrussia', 
                        'Belgica', 
                        'Benim', 
                        'Butao',
                        'Bosnia e Herzegovina',
                        'Botsuana',
                        'Brasil'], inplace=True))

In [ ]:
(df['Pais'].replace(['Cambodia',
                        'Cameroon', 
                        'Cape Verde', 
                        'Central African Republic', 
                        'Chad', 
                        'Congo, Republic of the', 
                        'Croatia', 
                        'Cyprus',
                        'Czech Republic',
                        "Côte d'Ivoire",
                        'Democratic Republic of the Congo',
                        'Denmark'], 
                       ['Camboja', 
                        'Camaroes', 
                        'Cabo Verde', 
                        'Republica Centro Africana', 
                        'Chade', 
                        'Congo, Republica do',
                        'Croacia',
                        'Chipre',
                        'Republica Checa', 
                        'Costa do Marfim', 
                        'Republica Democratica do Congo',
                        'Dinamarca'], inplace=True))

In [ ]:
(df['Pais'].replace(['Djibouti',
                        'Dominican Republic', 
                        'Ecuador', 
                        'Egypt', 
                        'Ethiopia', 
                        'Finland', 
                        'France', 
                        'Germany',
                        'Ghana',
                        'Greece',
                        'Guinea',
                        'Guyana',
                        'Hungary',
                        'Iceland'], 
                       ['Djibuti', 
                        'Republica Dominicana', 
                        'Equador', 
                        'Egito', 
                        'Etiopia', 
                        'Finlandia', 
                        'Franca', 
                        'Alemanha',
                        'Gana',
                        'Grecia',
                        'Guine',
                        'Guiana',
                        'Hungria',
                        'Islandia'], inplace=True))

In [ ]:
(df['Pais'].replace(['Iran, Islamic Republic of.',
                        'Iraq', 
                        'Ireland', 
                        'Isle of Man', 
                        'Italy', 
                        'Japan', 
                        'Jordan', 
                        'Kazakhstan',
                        'Kenya',
                        'Kyrgyzstan',
                        "Lao People's Democratic Republic",
                        'Latvia',
                        'Lebanon',
                        'Lesotho',
                        'Libyan Arab Jamahiriya',
                        'Liechtenstein',
                        'Lithuania',
                        'Luxembourg'], 
                       ['Ira, Republica Islamica do', 
                        'Iraque', 
                        'Irlanda', 
                        'Ilha de Man', 
                        'Italia', 
                        'Japao', 
                        'Jordania', 
                        'Cazaquistao',
                        'Quenia',
                        'Quirguistao',
                        'Republica Democratica Popular do Laos',
                        'Letonia',
                        'Libano',
                        'Lesoto',
                        'Jamahiriya Arabe Libia',
                        'Listenstaine',
                        'Lituania',
                        'Luxemburgo'], inplace=True))

In [ ]:
(df['Pais'].replace(['Malaysia',
                        'Maldives', 
                        'Mauritius', 
                        'Micronesia, Federated States of...', 
                        'Morocco', 
                        'Mozambique', 
                        'Myanmar', 
                        'Netherlands',
                        'New Zealand',
                        'Nomadic',
                        'North Korea',
                        'Norway',
                        'Oman',
                        'Pakistan',
                        'Palestine',
                        'Papua New Guinea',
                        'Paraguay',
                        'Philippines',
                        'Poland'], 
                       ['Malasia', 
                        'Maldivas', 
                        'Mauricio', 
                        'Micronesia, Estados Federados da', 
                        'Marrocos', 
                        'Mocambique', 
                        'Mianmar', 
                        'Holanda',
                        'Nova Zelandia',
                        'Nomade',
                        'Coreia do Norte',
                        'Noruega',
                        'Oma',
                        'Paquistao',
                        'Palestina',
                        'Papua Nova Guine',
                        'Paraguai',
                        'Filipinas',
                        'Polonia'], inplace=True))

In [ ]:
(df['Pais'].replace(['Qatar',
                        'Republic of Korea', 
                        'Republic of Moldova', 
                        'Romania', 
                        'Russian Federation', 
                        'Rwanda', 
                        'Saint Kitts and Nevis', 
                        'Saint Lucia', 
                        'Saint Vincent and the Grenadines',
                        'San Marino',
                        'Saudi Arabia', 
                        'Serbia', 
                        'Sierra Leone', 
                        'Singapore', 
                        'Slovakia', 
                        'Slovenia',
                        'South Africa', 
                        'South Korea', 
                        'Spain',
                        'Sudan'], 
                       ['Catar', 
                        'Republica da Coreia', 
                        'Republica da Moldavia', 
                        'Romenia', 
                        'Federacao Russa', 
                        'Ruanda', 
                        'Sao Cristovao e Nevis', 
                        'Santa Lucia', 
                        'Sao Vicente e Granadinas', 
                        'Sao Marinho', 
                        'Arabia Saudita', 
                        'Servia', 
                        'Serra Leoa',
                        'Cingapura', 
                        'Eslovaquia', 
                        'Eslovenia', 
                        'Africa do Sul',
                        'Coreia do Sul',
                        'Espanha',
                        'Sudao'], inplace=True))

In [ ]:
(df['Pais'].replace(['Swaziland',
                        'Sweden', 
                        'Switzerland', 
                        'Syrian Arab Republic', 
                        'Tajikistan', 
                        'Thailand', 
                        'The former Yugoslav Republic of Macedonia', 
                        'Trinidad and Tobago',
                        'Turkey',
                        'Turkmenistan',
                        'Ukraine',
                        'United Arab Emirates',
                        'United Kingdom of Great Britain and Northern Ireland',
                        'United Republic of Tanzania',
                        'United States of America',
                        'Uruguay',
                        'Uzbekistan',
                        'Venezuela, Bolivarian Republic of.',
                        'Viet Nam',
                        'Yemen',
                        'Zimbabwe'], 
                       ['Suazilandia', 
                        'Suecia', 
                        'Suica', 
                        'Republica Arabe da Siria', 
                        'Tajiquistao', 
                        'Tailandia', 
                        'A antiga Republica Iugoslava da Macedonia', 
                        'Trindade e Tobago',
                        'Peru',
                        'Turcomenistao',
                        'Ucrania',
                        'Emirados Arabes Unidos',
                        'Reino Unido',
                        'Republica Unida da Tanzania',
                        'Estados Unidos da America',
                        'Uruguai',
                        'Uzbequistao',
                        'Venezuela',
                        'Vietna',
                        'Iemen',
                        'Zimbabue'], inplace=True))

In [ ]:
(df['Escolaridade'].replace(['Primary/elementary school',
                        'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)', 
                        'Some college/university study without earning a degree', 
                        'Associate degree (A.A., A.S., etc.)', 
                        'Bachelor’s degree (B.A., B.S., B.Eng., etc.)', 
                        'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)', 
                        'Professional degree (JD, MD, etc.)', 
                        'Other doctoral degree (Ph.D., Ed.D., etc.)',
                        'Something else'], 
                       ['ensino fundamental', 
                        'ensino medio', 
                        'graduacao incompleta', 
                        'tecnologo', 
                        'graduacao completa', 
                        'mestrado', 
                        'profissionalizante', 
                        'doutorado',
                        'outros'], inplace=True))

In [ ]:
(df['AnosProg'].replace(['Less than 1 year',
                        'More than 50 years'], 
                       ['0', 
                        '51'], inplace=True))

In [ ]:
(df['AnosProgProf'].replace(['Less than 1 year',
                        'More than 50 years'], 
                       ['0', 
                        '51'], inplace=True))

#Renomeando e tratando dados da coluna 7 TipoDev

---
Renomeação, tradução e criação de uma coluna e inserida novamente no dataframe

In [ ]:
#pd.set_option("display.max_rows", None)
#print(df['TipoDev'].value_counts().head(100))

In [ ]:
df_tipodev = df[['TipoDev']].copy()
termos_tipodev = ['cientista de dados','fullstack','backend','frontend']

df_tipodev.loc[df_tipodev['TipoDev'].str.contains('Data',  flags=re.IGNORECASE, regex=True,na = False)] = 'cientista de dados'
df_tipodev.loc[df_tipodev['TipoDev'].str.contains('full-stack',  flags=re.IGNORECASE, regex=True, na = False)] = 'fullstack'
df_tipodev.loc[df_tipodev['TipoDev'].str.contains('back-end',  flags=re.IGNORECASE, regex=True, na = False)] = 'backend'
df_tipodev.loc[df_tipodev['TipoDev'].str.contains('front-end',  flags=re.IGNORECASE, regex=True, na = False)] = 'frontend'
df_tipodev.loc[~df_tipodev['TipoDev'].str.contains('|'.join(termos_tipodev), na = True)] = 'outro'
df_tipodev

                  TipoDev
0                   outro
1                     NaN
2                     NaN
3                frontend
4      cientista de dados
...                   ...
83434             backend
83435           fullstack
83436  cientista de dados
83437             backend
83438           fullstack

[83439 rows x 1 columns]

In [ ]:
df.drop(['TipoDev'], axis=1, inplace=True)

In [ ]:
df = pd.concat([df, df_tipodev], axis=1)

In [ ]:
#df.head(1)

#Dados das colunas 8 a 15 

LingJaTrab, BDJaTrab,	CloudJaTrab,	EstWebJaTrab,	OutrasJaTrab,	FerramJaTrab,	AmbDevJaTrab, SO

Não precisam de maiores tratamentos.

#Renomeando dados da coluna 16 Idade

---
Renomeação e Tradução das colunas

In [ ]:
#df['Idade'].unique()

In [ ]:
(df['Idade'].replace(['Under 18 years old',
                        '18-24 years old', 
                        '25-34 years old', 
                        '35-44 years old', 
                        '45-54 years old', 
                        '55-64 years old', 
                        '65 years or older',
                        'Prefer not to say'], 
                        ['menor 18 anos de idade',
                        '18-24 anos de idade', 
                        '25-34 anos de idade', 
                        '35-44 anos de idade', 
                        '45-54 anos de idade', 
                        '55-64 anos de idade', 
                        '65 anos ou mais',
                        'prefiro nao dizer'], inplace=True))

#Renomeando e tratando dados da coluna 17 Genero


---
Renomeação, tradução e criação de uma coluna e inserida novamente no dataframe

In [ ]:
#df['Genero'].unique()

In [ ]:
df.head()

,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,Genero,Etnia,DefFis,TipoDev
0,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,Man,White or of European descent,None of the above,outro
1,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,Man,White or of European descent,None of the above,NaN
2,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,Man,Prefer not to say,None of the above,NaN
3,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,Man,White or of European descent,I am deaf / hard of hearing,frontend
4,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17,10,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,Man,White or of European descent,None of the above,cientista de dados


* analise

In [ ]:
"""(df['Genero'].replace(['Man',
                       'Prefer not to say',
                       'Woman',
                       'Non-binary, genderqueer, or gender non-conforming',
                       'Man;Or, in your own words:',
                       'Woman;Non-binary, genderqueer, or gender non-conforming',
                       'Man;Non-binary, genderqueer, or gender non-conforming',
                       'Or, in your own words:',
                       'Man;Woman',
                       'Man;Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
                       'Woman;Or, in your own words:',
                       'Man;Woman;Non-binary, genderqueer, or gender non-conforming',
                       'Man;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
                       'Woman;Non-binary, genderqueer, or gender non-conforming;Or, in your own words:',
                       'Man;Woman;Or, in your own words:'],
                      ['homem',
                       'prefiro nao dizer',
                       'mulher',
                       'outro',
                       'homem',
                       'mulher',
                       'homem',
                       'outro',
                       'outro',
                       'outro',
                       'mulher',
                       'outro',
                       'homem',
                       'mulher',
                       'outro'], inplace=True))"""

"(df['Genero'].replace(['Man',\n                       'Prefer\xa0not\xa0to\xa0say',\n                       'Woman',\n                       'Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming',\n                       'Man;Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Woman;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming',\n                       'Man;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming',\n                       'Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Man;Woman',\n                       'Man;Woman;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming;Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Woman;Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Man;Woman;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming',\n                       'Man;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming;Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Woman;Non-binary,\xa0genderqueer,\xa0or\xa0gender\xa0non-conforming;Or,\xa0in\xa0your\xa0own\xa0words:',\n                       'Man;Woman;Or,\xa0in\xa0your\xa0own\xa0words:'],\n                      ['homem',\n                       'prefiro\xa0nao\xa0dizer',\n                       'mulher',\n                       'outro',\n                       'homem',\n                       'mulher',\n                       'homem',\n                       'outro',\n                       'outro',\n                       'outro',\n                       'mulher',\n                       'outro',\n                       'homem',\n                       'mulher',\n                       'outro'], inplace=True))"

In [ ]:
df_trad_genero = df[['Genero']].copy()
termos_genero = ['Man','Woman']

df_trad_genero.loc[~df_trad_genero['Genero'].str.contains('|'.join(termos_genero), na = True)] = 'outro'
df_trad_genero.loc[df_trad_genero['Genero'].str.contains('Woman',  flags=re.IGNORECASE, regex=True, na = False)] = 'Mulher'
df_trad_genero.loc[df_trad_genero['Genero'].str.contains('Man',  flags=re.IGNORECASE, regex=True,na = False)] = 'Homem'
df_trad_genero

      Genero
0      Homem
1      Homem
2      Homem
3      Homem
4      Homem
...      ...
83434  Homem
83435  Homem
83436  Homem
83437  Homem
83438  Homem

[83439 rows x 1 columns]

In [ ]:
df.drop(['Genero'], axis=1, inplace=True)

In [ ]:
df = pd.concat([df, df_trad_genero], axis=1)

#Renomeando e tratando dados da coluna 18 Etnia


---
Renomeação, tradução e criação de uma coluna e inserida novamente no dataframe

In [ ]:
df_etnia = df[['Etnia']].copy()
termos_etnia = ['branco','nao sabe','prefere nao dizer','nao branco']

df_etnia.loc[df_etnia['Etnia'].str.contains('White', na = False), 'Etnia'] = 'branco'
df_etnia.loc[df_etnia['Etnia'].str.contains('I don\'t know', na = False), 'Etnia'] = 'nao sabe'
df_etnia.loc[df_etnia['Etnia'].str.contains('Prefer not to say', na = False), 'Etnia'] = 'prefere nao dizer'
df_etnia.loc[~df_etnia['Etnia'].str.contains('|'.join(termos_etnia), na = True)] = 'nao branco'
df_etnia

                   Etnia
0                 branco
1                 branco
2      prefere nao dizer
3                 branco
4                 branco
...                  ...
83434             branco
83435         nao branco
83436             branco
83437             branco
83438         nao branco

[83439 rows x 1 columns]

In [ ]:
df.drop(['Etnia'], axis=1, inplace=True)

In [ ]:
df = pd.concat([df, df_etnia], axis=1)

In [ ]:
#df.head(1)

#Renomeando e tratando dados da coluna 19 DefFis


---
Renomeação e tradução

In [ ]:
#df['DefFis'].unique()

In [ ]:
(df['DefFis'].replace(['None of the above', 
                               'I am deaf / hard of hearing',
                               'Prefer not to say',
                               'I am blind / have difficulty seeing',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance',
                               'Or, in your own words:',
                               'I am unable to / find it difficult to walk or stand without assistance',
                               'I am blind / have difficulty seeing;Or, in your own words:',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to type',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am unable to / find it difficult to type',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;Or, in your own words:',
                               'I am unable to / find it difficult to type;Or, in your own words:',
                               'I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing',
                               'I am deaf / hard of hearing;Or, in your own words:',
                               'I am deaf / hard of hearing;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to type;Or, in your own words:',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to type;Or, in your own words:',
                               'I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am deaf / hard of hearing;I am unable to / find it difficult to type',
                               'I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance',
                               'I am deaf / hard of hearing;I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to type;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am blind / have difficulty seeing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:',
                               'I am deaf / hard of hearing;I am unable to / find it difficult to walk or stand without assistance;Or, in your own words:'],
                              ['nao', 
                               'sim',
                               'prefiro nao dizer', 
                               'sim',
                               'sim',
                               'outros',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim',
                               'sim'], inplace=True))

In [ ]:
#df.head(1)

#Definindo e validando o schema

In [ ]:
#df.head(1)

In [ ]:
#df.dtypes

In [ ]:
df['AnosProg']=df['AnosProg'].astype('float')
df['AnosProgProf']=df['AnosProgProf'].astype('float')

In [ ]:
schema = pa.DataFrameSchema(
    columns = {'Id':pa.Column(pa.Int),
               'AreaAtuacao':pa.Column(pa.String,nullable=True),
               'Emprego':pa.Column(pa.String,nullable=True),
               'Pais':pa.Column(pa.String,nullable=True),
               'Escolaridade':pa.Column(pa.String,nullable=True),
               'AnosProg':pa.Column(pa.Float,nullable=True),
               'AnosProgProf':pa.Column(pa.Float,nullable=True),
               'TipoDev':pa.Column(pa.String,nullable=True),
               'LingJaTrab':pa.Column(pa.String,nullable=True),
               'BDJaTrab':pa.Column(pa.String,nullable=True),
               'CloudJaTrab':pa.Column(pa.String,nullable=True),
               'EstWebJaTrab':pa.Column(pa.String,nullable=True),
               'OutrasJaTrab':pa.Column(pa.String,nullable=True),
               'FerramJaTrab':pa.Column(pa.String,nullable=True),
               'AmbDevJaTrab':pa.Column(pa.String,nullable=True),
               'SO':pa.Column(pa.String,nullable=True),
               'Idade':pa.Column(pa.String,nullable=True),
               'Genero':pa.Column(pa.String,nullable=True),
               'Etnia':pa.Column(pa.String,nullable=True),
               'DefFis':pa.Column(pa.String,nullable=True)
               
               }
)

In [ ]:
#df.dtypes

In [ ]:
schema.validate(df)

,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,DefFis,TipoDev,Genero,Etnia
0,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,nao,outro,Homem,branco
1,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7.0,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,nao,NaN,Homem,branco
2,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,nao,NaN,Homem,prefere nao dizer
3,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,sim,frontend,Homem,branco
4,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17.0,10.0,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,nao,cientista de dados,Homem,branco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,graduacao completa,6.0,5.0,Clojure;Kotlin;SQL,Oracle;SQLite,AWS,NaN,NaN,Docker;Git,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83435,83436,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Benim,graduacao completa,4.0,2.0,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Flutter;Qt,Git;Unity 3D;Unreal Engine,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco
83436,83437,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,ensino medio,10.0,4.0,Groovy;Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,AWS;Google Cloud Platform,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Ansible;Docker;Git;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows,25-34 anos de idade,nao,cientista de dados,Homem,branco
83437,83438,desenvolvedor profissional,empregado tempo integral,Canada,graduacao completa,5.0,3.0,Bash/Shell;JavaScript;Node.js;Python,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,Heroku,Django;Express;Flask;React.js,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,PyCharm;Sublime Text,MacOS,25-34 anos de idade,nao,backend,Homem,branco
83438,83439,desenvolvedor profissional,empregado tempo integral,Brasil,profissionalizante,14.0,4.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,Oracle;PostgreSQL,Microsoft Azure,Angular;Spring,NaN,Docker;Git,IntelliJ;Visual Studio Code,Linux-based,18-24 anos de idade,nao,fullstack,Homem,nao branco

In [ ]:
df.dtypes

Id                int64
AreaAtuacao      object
Emprego          object
Pais             object
Escolaridade     object
AnosProg        float64
AnosProgProf    float64
LingJaTrab       object
BDJaTrab         object
CloudJaTrab      object
EstWebJaTrab     object
OutrasJaTrab     object
FerramJaTrab     object
AmbDevJaTrab     object
SO               object
Idade            object
DefFis           object
TipoDev          object
Genero           object
Etnia            object
dtype: object

#Transformando em parquet

In [ ]:
df.to_parquet('projFinalStack.parquet')

# Transformando em CSV

In [ ]:
df.to_csv('projFinalStack.csv')

#Enviando arquivo tratado para bucket

In [ ]:
!pip install gcsfs

Collecting gcsfs
  Downloading gcsfs-2022.3.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Collecting fsspec==2022.3.0
  Downloading fsspec-2022.3.0-py3-none-any.whl (136 kB)
     |████████████████████████████████| 136 kB 7.6 MB/s
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 45.2 MB/s
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (3.10.0.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 44.1 MB/s
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 3.0 MB/s
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 54.4 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.26.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2018.9)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.7)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.3.0 gcsfs-2022.3.0 multidict-6.0.2 yarl-1.7.2

In [ ]:
from google.cloud import storage
import os

bucket (csv)

---

In [ ]:
serviceAccount = '/content/brilliant-rhino-339219-3216114d2839.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

client = storage.Client()
bucket = client.get_bucket('projeto-final')


bucket.blob('Data_Frame_tratado_Stack/projFinalStack.csv').upload_from_string(df.to_csv(index=False), 'Projeto_tratado_pandas/csv')

bucket (parquet)

---

In [ ]:
serviceAccount = '/content/brilliant-rhino-339219-3216114d2839.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

client = storage.Client()
bucket = client.get_bucket('projeto-final')

bucket.blob('Data_Frame_tratado_Stack/projFinalStack.parquet').upload_from_string(df.to_csv(index=False), 'Projeto_tratado_pandas/parquet')

#Mogo DB Atlas

---

Importação Pymongo e Bubliotecas 

---

In [ ]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.3 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
import pymongo
from pymongo import MongoClient
import json

DataFrame Original

---

In [ ]:
df_original = pd.read_csv('https://storage.googleapis.com/projeto_final_mt/survey_results_public.csv', sep = ',')

Conectando ao Mongo DB Atlas

---

In [ ]:
client = pymongo.MongoClient('mongodb+srv://soulcode:a1b2c3@daianeaula.jenql.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

Coleção Original

---

In [ ]:
# DataBase utilizado
db = client['projeto_final']

# Coleção Original 
colecao_original = db.stack_overflow_2021_original

Coleção Tratada

---

In [ ]:
# DataBase utilizado
db = client['projeto_final']

# Coleção tratada
colecao_tratada = db.stack_overflow_2021_tratado

Dicionário - Coleção Original

---

In [ ]:
#converte para dicionário
df_dados_dici1 = df_original.to_dict('records') 

#Coleção original
colecao_original.insert_many(df_dados_dici1)

Dicionário - Coleção Tratada

---

In [ ]:
#Converte para dicionário
df_dados_dici = df.to_dict('records') 

#Coleção tratada
colecao_tratada.insert_many(df_dados_dici)

Extraindo mongo Atlas - coleção_original

---

In [ ]:
#Extraindo direto do mongo Atlas
extrator = colecao_original.find({})
dfmongo = pd.DataFrame(list(extrator))

Extraindo mongo Atlas - coleção_tratada

---

In [ ]:
#Extraindo direto do mongo Atlas
extrator = colecao_tratada.find({})
dfmongo = pd.DataFrame(list(extrator))

In [ ]:
dfmongo

,_id,Id,AreaAtuacao,Emprego,Pais,Escolaridade,AnosProg,AnosProgProf,LingJaTrab,BDJaTrab,CloudJaTrab,EstWebJaTrab,OutrasJaTrab,FerramJaTrab,AmbDevJaTrab,SO,Idade,Genero,DefFis,TipoDev,Etnia
0,624879acaf4ec803a4791099,1,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Eslovaquia,ensino medio,NaN,NaN,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,PostgreSQL;SQLite,NaN,Laravel;Symfony,NaN,NaN,PHPStorm;Xcode,MacOS,25-34 anos de idade,homem,nao,outro,branco
1,624879acaf4ec803a479109a,2,estudante aprendendo a programar,estudante tempo integral,Holanda,graduacao completa,7.0,NaN,JavaScript;Python,PostgreSQL,NaN,Angular;Flask;Vue.js,Cordova,Docker;Git;Yarn,Android Studio;IntelliJ;Notepad++;PyCharm,Windows,18-24 anos de idade,homem,nao,NaN,branco
2,624879acaf4ec803a479109b,3,nao sou desenvolvedor mas as vezes programo co...,estudante tempo integral,Federacao Russa,graduacao completa,NaN,NaN,Assembly;C;Python;R;Rust,SQLite,Heroku,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,MacOS,18-24 anos de idade,homem,nao,NaN,prefere nao dizer
3,624879acaf4ec803a479109c,4,desenvolvedor profissional,empregado tempo integral,Austria,mestrado,NaN,NaN,JavaScript;TypeScript,NaN,NaN,Angular;jQuery,NaN,NaN,NaN,Windows,35-44 anos de idade,homem,sim,frontend,branco
4,624879acaf4ec803a479109d,5,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Reino Unido,mestrado,17.0,10.0,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,NaN,Flask,Apache Spark;Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Linux-based,25-34 anos de idade,homem,nao,cientista de dados,branco
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,624879aeaf4ec803a47a5683,83435,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,graduacao completa,6.0,5.0,Clojure;Kotlin;SQL,Oracle;SQLite,AWS,NaN,NaN,Docker;Git,IntelliJ;Sublime Text;Vim;Visual Studio Code,MacOS,25-34 anos de idade,homem,nao,backend,branco
83435,624879aeaf4ec803a47a5684,83436,desenvolvedor profissional,"contrato independente, freelancer ou autonomo",Benim,graduacao completa,4.0,2.0,NaN,Firebase;MariaDB;MySQL;PostgreSQL;Redis;SQLite,NaN,Django;jQuery;Laravel;React.js;Ruby on Rails,Flutter;Qt,Git;Unity 3D;Unreal Engine,Android Studio;Eclipse;Emacs;IntelliJ;NetBeans...,Linux-based,18-24 anos de idade,homem,nao,fullstack,nao branco
83436,624879aeaf4ec803a47a5685,83437,desenvolvedor profissional,empregado tempo integral,Estados Unidos da America,ensino medio,10.0,4.0,Groovy;Java;Python,DynamoDB;Elasticsearch;MongoDB;PostgreSQL;Redis,AWS;Google Cloud Platform,FastAPI;Flask,Hadoop;Keras;NumPy;Pandas,Ansible;Docker;Git;Terraform,Android Studio;Eclipse;IntelliJ;IPython/Jupyte...,Windows,25-34 anos de idade,homem,nao,cientista de dados,branco
83437,624879aeaf4ec803a47a5686,83438,desenvolvedor profissional,empregado tempo integral,Canada,graduacao completa,5.0,3.0,Bash/Shell;JavaScript;Node.js;Python,Cassandra;Elasticsearch;MongoDB;PostgreSQL;Redis,Heroku,Django;Express;Flask;React.js,NumPy;Pandas;TensorFlow;Torch/PyTorch,Ansible;Docker;Git;Terraform,PyCharm;Sublime Text,MacOS,25-34 anos de idade,homem,nao,backend,branco
83438,624879aeaf4ec803a47a5687,83439,desenvolvedor profissional,empregado tempo integral,Brasil,profissionalizante,14.0,4.0,Delphi;Elixir;HTML/CSS;Java;JavaScript,Oracle;PostgreSQL,Microsoft Azure,Angular;Spring,NaN,Docker;Git,IntelliJ;Visual Studio Code,Linux-based,18-24 anos de idade,homem,nao,fullstack,nao branco